body {
  background-color: #ccff99;
}
#all {
  width: 800px;
  border: 1px solid #33ff99;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  color: #000;
  background-color: #0f0;
  text-align: center;
  width: 200px;
  padding: 8px;
  border: 2px solid #000;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  color: #0f0;
  background-color: #000;
}
